@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 240 2% 96%;
		--foreground: 0 0% 22%;

		--card: 240 2% 96%;
		--card-foreground: 0 0% 22%;

		--popover: 240 2% 96%;
		--popover-foreground: 0 0% 22%;

		--primary: 220 16% 34%;
		--primary-foreground: 0 0% 98%;

		--secondary: 200 16% 44%;
		--secondary-foreground: 0 0% 22%;

		--muted: 200 16% 44%;
		--muted-foreground: 0 0% 22%;

		--accent: 200 16% 44%;
		--accent-foreground: 0 0% 22%;

		--destructive: 0 80% 50%; /* Adjusted for more vibrancy */
		--destructive-foreground: 0 0% 98%;

		--warning: 40 90% 50%;
		--warning-foreground: 0 0% 22%;

        --info: 210 90% 50%;
        --info-foreground: 0 0% 98%;

		--success: 150 70% 50%; /* Adjusted for more vibrancy */
		--success-foreground: 0 0% 98%;

		--border: 220 16% 80%;
		--input: 220 16% 80%;
		--ring: 240 2% 96%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 0 0% 22%;
		--foreground: 0 0% 98%;

		--card: 0 0% 22%;
		--card-foreground: 0 0% 98%;

		--popover: 0 0% 22%;
		--popover-foreground: 0 0% 98%;

		--primary: 0 0% 98%;
        --primary-foreground: 0 0% 22%;

		--secondary: 30 25% 10%;
		--secondary-foreground: 0 0% 98%;

		--muted: 30 25% 10%;
		--muted-foreground: 0 0% 98%;

		--accent: 30 25% 10%;
		--accent-foreground: 0 0% 98%;

		--destructive: 0 80% 50%; /* Adjusted for more vibrancy */
		--destructive-foreground: 0 0% 98%;

		--warning: 40 90% 50%;
		--warning-foreground: 240 2% 96%;

		--success: 150 70% 50%; /* Adjusted for more vibrancy */
		--success-foreground: 0 0% 98%;

		--border: 30 25% 10%;
		--input: 30 25% 10%;
		--ring: 200 10% 80%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
body {
	color: rgb(0, 0, 0);
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(214, 219, 220)
		)
		rgb(255, 255, 255);
}
.link {
	@apply text-accent-foreground hover:text-accent-foreground;
}
.loader {
	transform: translateZ(1px);
}
.loader:after {
	content: '$';
	display: inline-block;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	text-align: center;
	line-height: 40px;
	font-size: 32px;
	font-weight: bold;
	background: #ffd700;
	color: #daa520;
	border: 4px double;
	box-sizing: border-box;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
	animation: coin-flip 4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes coin-flip {
	0%,
	100% {
		animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
	}
	0% {
		transform: rotateY(0deg);
	}
	50% {
		transform: rotateY(1800deg);
		animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
	}
	100% {
		transform: rotateY(3600deg);
	}
}

@media (prefers-color-scheme: dark) {
	body {
		color: rgb(255, 255, 255);
		background: linear-gradient(to bottom, transparent, rgb(0, 0, 0))
			rgb(0, 0, 0);
	}
}
